<!DOCTYPE html>
<html>
  <head>
    <%= EEx.eval_file("view/parts/head.eex") %>
  </head>
  <body>
    <header>
      <%= EEx.eval_file("view/parts/header.eex") %>
    </header>

    <section id="home">
      <h3 class="hidden">Home Page</h3>
      <a href="/calendar">
        <img alt="table with tomatoes pasta and a wooden spoon, linking to calendar site" src="/res/img/home1.jpg">
      </a>
      <a class="button" href="/calendar">Check out the recipe of the day!</a>
    </section>

    <footer>
      <%= EEx.eval_file("view/parts/footer.eex") %>
    </footer>
  </body>
</html>
